.principal{
    height: 100vh;
    
    
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #cacaca;
}

.telefone{
    display: flex;
    flex-direction: column;
}

.card{
    border-radius: 15px;
    background: #ffffff;
}

.input{
    border-radius: 20px;
}

.form{
    width: 450px;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.grow{
    width: 100%;
}

.colum{
    display: flex;
    justify-content: space-between;
}